{% extends "base.html" %} {% block title %}About Models{% endblock %} {% block
content%}
<html>
	<div id="main">
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/style.css') }}"
		/>
		<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h1>This is GPT-3</h1>
				</header>
				<span class="image main"
					><img src="static/images/artificial-intelligence.webp" alt=""
				/></span>
				<p>Choose a model name for more information about it</p>
				<!-- Dropdown -->
				<!--<div class="dropdown mt-3">
							<button class="btn btn-secondary dropdown-toggle" type="button"
							id="book-dropdown" data-bs-toggle="dropdown">
								Choose a book title
							</button>
						</div> -->
				<div class="dropdown">
					<link
						href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
						rel="stylesheet"
						integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
						crossorigin="anonymous"
					/>
					<button
						class="btn btn-secondary dropdown-toggle"
						type="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						--Select Model--
					</button>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="/AboutModel/GPT-2">GPT-2</a>
						</li>
						<li>
							<a class="dropdown-item" href="/AboutModel/GPT-3.5">GPT-3</a>
						</li>
						<li>
							<a class="dropdown-item" href="/AboutModel/Bert-base"
								>Bert-base</a
							>
						</li>
						<li><a class="dropdown-item" href="/AboutModel/Bart">Bart</a></li>
						<li>
							<a class="dropdown-item" href="/AboutModel/dialGPT">DialoGPT</a>
						</li>
						<li>
							<a class="dropdown-item" href="/AboutModel/RoBERTa">RoBERTa</a>
						</li>
					</ul>
				</div>
				<link
					rel="stylesheet"
					href="{{ url_for('static', filename='css/style.css') }}"
				/>
			</div>
		</section>
		<!-- Main -->

		<h4>When was GPT-3 created?</h4>
		<p>2022</p>
		<h4>Primary Users</h4>
		<p>Developers and consumers</p>
		<h4>Uses</h4>
		<p>
			Generally, the model is supposed to be used for research by developers. It
			is meant to be accessible to devs with minimal experience in AI
			development. Since this model and its successor GPT-3.5 are the backend to
			Chat-GPT, consumers have also interacted with it. The large bredth and
			openness of GPT-3 make it useful for many tasks such as essay writing,
			code writing, question answering, etc..
		</p>
		<h4>Training</h4>
		<p>
			GPT-3 was trained on a filtered version of the CommonCrawl dataset which
			contains text posted on the internet. It was also trained on the Webtext
			dataset and English Wikipedia.
		</p>
		<h4>General Data</h4>
		<p>Number of Parameters: 175B</p>
		<p>Model Size: 800GB -> 2TB (estimate)</p>
	</div>
</html>
{% endblock %}
