{% extends "base.html" %}
{% block title %}Bert Error Injection{% endblock %}
{% block content%}

<html>
<div class="trymodel">
	<link href="{{ url_for('static', filename='css/chatbox/maxcdn.bootstrap.css') }}" rel="stylesheet"
		id="bootstrap-css" />
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<head>
		<title>Bert Error Injection</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbox/stackpath.bootstrap.css') }}"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
			integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
			crossorigin="anonymous" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>

	<body>
		<div class="container-fluid h-100">
			<div class="rowChat justify-content-center h-100">
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png"
										class="rounded-circle user_img" width="40" />
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span color="blue">&nbsp Bert Injection</span>
									<p color="dark">&nbsp Enter a Prompt:</p>
								</div>
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body"></div>
						<!-- Input Bar -->
						<div class="card-footer">
							<form id="messageArea" class="input-group">
								<input type="text" id="text" name="msg" placeholder="Type your message..."
									autocomplete="off" class="form-control type_msg" required length="50" />
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"
										style="height: 44px">
										<i class="fas fa-location-arrow"></i>
									</button>
								</div>

						</div>
						<!-- Sliders -->
						<br>
						<!-- #Parameters for AlexFunc -->
						<div class="slider-container">
							<input type="range" class="custom-range" min="0" max="30" step="1" id="slider1"
								oninput="updateValue(this.value, 'sliderValue1', '#Parameters')"
								style="--value: {{ slider_value1 }};" />
							<span id="sliderValue1" class="slider-value">#Parameters: {{ slider_value1 }}</span>
						</div>
						<!-- NewVal for ALexFUnc -->
						<div class="slider-container">
							<input type="range" class="custom-range" min="-5" max="5" step="0.1" id="slider2"
								oninput="updateValue(this.value, 'sliderValue2', 'NewVal')"
								style="--value: {{ slider_value2 }};" />
							<span id="sliderValue2" class="slider-value">NewVal: {{ slider_value2 }}</span>
						</div>
						<!-- Dropout rate for Satrant Function -->
						<div class="slider-container">
							<input type="range" class="custom-range" min="0.00001" max=".1" step="0.0001" id="slider3"
								oninput="updateValue(this.value, 'sliderValue3', 'DropoutRate')"
								style="--value: {{ slider_value3 }};" disabled />
							<span id="sliderValue3" class="slider-value">DropoutRate: {{ slider_value3 }}</span>
						</div>
						<!-- scalefactor for Satrant Function -->
						<div class="slider-container">
							<input type="range" class="custom-range" min="0" max="1" step="0.1" id="slider4"
								oninput="updateValue(this.value, 'sliderValue4', 'ScaleFactor')"
								style="--value: {{ slider_value4 }};" disabled />
							<span id="sliderValue4" class="slider-value">ScaleFactor: {{ slider_value4 }}</span>
						</div>
						<br>
						<div class="dropdown-container">
							<!-- Make sure to pass the option values inside the py file -->
							<!-- See render_template() in tryGPT2error.py for an example -->
							<select id="selectCategory" class="select-category">
								<option value="Alex">- Auto Error Injection -</option>
								{% for option_value in option_values %}
								<option value="{{ option_value }}">{{ option_value }}</option>
								{% endfor %}
							</select>
						</div>
						<br>
						</form>
					</div>

				</div>
			</div>
		</div>
	</body>
	<br />
	<p style="color: white; padding-left: 3%">
		Bert is a masked language model meaning that it tries to guess what
		the next word in a sequence is. To use Bert and get a response, the user
		must enter their input in a specific manner using the [MASK] keyword.
		Also, make sure your prompt ends with a period.<br />For example:
		<strong>Bert's favorite color is [MASK].</strong>
	</p>
	<br />
</div>

</html>

<!-- JavaScript -->
<script>
	// Update the slider value display
	function updateValue(value, elementId, name) {
		document.getElementById(elementId).textContent = name + ":" + value;
	}
</script>
<!-- Disable sliders when using the Satrant Error injection method -->
<script>
	$(document).ready(function () {
		toggleSliders($("#selectCategory").val()); // Initially toggle sliders based on selected value

		$("#selectCategory").change(function () {
			toggleSliders($(this).val());
		});

		function toggleSliders(value) {
			var sliders = $(".custom-range");
			var slider3 = $("#slider3");
			var slider4 = $("#slider4");

			if (value === "Alex") {
				sliders.prop("disabled", false);
				sliders.closest(".slider-container").removeClass("disabled");
				slider3.prop("disabled", true);
				slider3.closest(".slider-container").addClass("disabled");
				slider4.prop("disabled", true);
				slider4.closest(".slider-container").addClass("disabled");
			} else {
				sliders.prop("disabled", true);
				sliders.closest(".slider-container").addClass("disabled");
				slider3.prop("disabled", false);
				slider3.closest(".slider-container").removeClass("disabled");
				slider4.prop("disabled", false);
				slider4.closest(".slider-container").removeClass("disabled");
			}
		}
	});
</script>
<script>
	// Send Message
	$(document).ready(function () {
		$("#messageArea").on("submit", function (event) {
			var rawText = $("#text").val();
			var sliderValue1 = $("#slider1").val();
			var sliderValue2 = $("#slider2").val();
			var sliderValue3 = $("#slider3").val();
			var sliderValue4 = $("#slider4").val();
			var selectCategory = $("#selectCategory").val(); // Retrieve the value of select-category

			var userHtml =
				'<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' +
				rawText +
				'<span class="msg_time_send">';

			$("#text").val("");
			$("#messageFormeight").append(userHtml).append("<hr>");

			$.ajax({
				data: {
					msg: rawText,
					num_parameters: sliderValue1,
					new_value: sliderValue2,
					category: selectCategory, // Include select-category value in the data object
					dropout: sliderValue3,
					scale: sliderValue4
				},
				type: "POST",
				url: "/tryBertError/get",
			}).done(function (data) {
				var botHtml =
					'<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg" width="40" display="inline-block" hspace="20"></div><div class="msg_cotainer">' +
					data +
					'<span class="msg_time">' +
					"<hr>";
				$("#messageFormeight").append($.parseHTML(botHtml));
			});
			event.preventDefault();
		});
	});
</script>


{% endblock %}