{% extends "base.html" %}
{% block title %}Bert Error Injection{% endblock %}
{% block content%}

<html>
<div class="trymodel">
    <link href="{{ url_for('static', filename='css/chatbox/maxcdn.bootstrap.css') }}" rel="stylesheet"
        id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <head>
        <title>Bert Error Injection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbox/stackpath.bootstrap.css') }}"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="container-fluid h-100">
            <div class="rowChat justify-content-center h-100">
                <div class="col-md-8 col-xl-6 chat">
                    <div class="card">
                        <div class="card-header msg_head">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png"
                                        class="rounded-circle user_img" width="40" />
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span color="blue">&nbsp Bert Injection</span>
                                    <p color="dark">&nbsp Enter a Prompt:</p>
                                </div>
                            </div>
                        </div>
                        <div id="messageFormeight" class="card-body msg_card_body"></div>
                        <!-- Input Bar -->
                        <div class="card-footer">
                            <form id="messageArea" class="input-group">
                                <input type="text" id="text" name="msg" placeholder="Type your message..."
                                    autocomplete="off" class="form-control type_msg" required length="50" />
                                <div class="input-group-append">
                                    <button type="submit" id="send" class="input-group-text send_btn"
                                        style="height: 44px">
                                        <i class="fas fa-location-arrow"></i>
                                    </button>
                                </div>

                        </div>
                        <!-- Sliders -->
                        <br>
                        <!-- #Parameters for AlexFunc -->
                        <div class="slider-container">
                            <input type="range" class="custom-range" min="0" max="100" step="1" id="slider1"
                                oninput="updateValue(this.value, 'sliderValue1', 'Parameter Index')"
                                style="--value: {{ slider_value1 }};" />
                            <span id="sliderValue1" class="slider-value">Parameter Index: {{ slider_value1 }}</span>
                        </div>
                        <!-- NewVal for ALexFUnc -->
                        <div class="slider-container">
                            <input type="range" class="custom-range" min="0" max="130" step="1" id="slider2"
                                oninput="updateValue(this.value, 'sliderValue2', 'Number of Bits')"
                                style="--value: {{ slider_value2 }};" />
                            <span id="sliderValue2" class="slider-value">Number of Bits: {{ slider_value2 }}</span>
                        </div>
                        <br>
                        <hr class="chat" />
                        <!-- Buttons -->
                        <div style="display: flex; justify-content: center; padding: 2% 0;">
                            <a href="/tryBert" class="button default" style="background-color: #383b4d;">Try the
                                Model</a>
                            <span style="width: 5%;"></span>
                            <a href="/tryBertError" class="button default" style="background-color: #383b4d;">Try
                                Error
                                Injection</a>
                        </div>

                        <!-- Add dropdown here if needed -->
                        <br>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </body>
    <br />
    <p style="color: white; padding-left: 3%">
        Bert is a masked language model meaning that it tries to guess what
        the next word in a sequence is. To use Bert and get a response, the user
        must enter their input in a specific manner using the [MASK] keyword.
        Also, make sure your prompt ends with a period.<br />For example:
        <strong>Bert's favorite color is [MASK].</strong>
    </p>
    <br />
</div>

</html>

<!-- JavaScript -->
<script>
    // Update the slider value display
    function updateValue(value, elementId, name) {
        document.getElementById(elementId).textContent = name + ":" + value;
    }
</script>
<script>
    // Send Message
    $(document).ready(function () {
        $("#messageArea").on("submit", function (event) {
            var rawText = $("#text").val();
            var sliderValue1 = $("#slider1").val();
            var sliderValue2 = $("#slider2").val();

            var userHtml =
                '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' +
                rawText +
                '<span class="msg_time_send">';

            $("#text").val("");
            $("#messageFormeight").append(userHtml).append("<hr>");

            $.ajax({
                data: {
                    msg: rawText,
                    param_index: sliderValue1,
                    bit_num: sliderValue2,
                },
                type: "POST",
                url: "/tryBertSingle/get",
            }).done(function (data) {
                var botHtml =
                    '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg" width="40" display="inline-block" hspace="20"></div><div class="msg_cotainer">' +
                    data +
                    '<span class="msg_time">' +
                    "<hr>";
                $("#messageFormeight").append($.parseHTML(botHtml));
            });
            event.preventDefault();
        });
    });
</script>


{% endblock %}